.container {
  height: 100vh;
  width: 100vw;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  transition-property: opacity;
  transition-duration: 150ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container:hover {
  cursor: pointer;
}

.show {
  opacity: 1;
  z-index: 10;
}

.hide {
  opacity: 0;
  z-index: -10;
}

.icon {
  width: 90vw;
  height: auto;
  max-height: 90vh;
  max-width: 90vh;
  transform: scaleY(-1)
}
